@import "src/styles/variables";

$pic-size: 40px;
.list-item {
  height: 60px;
  display: block;
  clear: both;
  font-family: $roboto;
  cursor: pointer;
  margin-top: 0;
  padding-top: 0;

  position: relative;

  &__img {
    float: left;
    padding: 10px;

    img {
      height: $pic-size;
      width: $pic-size;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__text-data {
    padding-top: 10px;
    padding-right: 30px;
  }

  &__name {
    font-size: 16px;
    margin-bottom: 3px;
    color: $white;

  }

  &__message {
    font-size: 14px;
    color: $smoked;

    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  hr {
    height: 1px;
    margin: 15px 15px 0 60px;

    color: gray;
    background-color: gray;
    border: none;
  }

  &:hover {
    background-color: $hovered;
  }

  &_active {
    background-color: $active;

    &:hover {
      background-color: $active;
    }

    .list-item__unread-messages {
      background-color: $secondary;
    }
  }

  &__new-messages {
    position: absolute;
    top: 20px;
    right: 15px;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $primary;
    color: $white;
    font-size: 14px;
  }

  &__unread-messages {
    position: absolute;
    top: 25px;
    right: 15px;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: $active;
  }
}

