@import "src/styles/variables";

$pic-size: 40px;
.list-item {
  display: block;
  clear: both;
  font-family: $roboto;
  cursor: pointer;
  margin-top: 0;
  padding-top: 0;

  &__img {
    float: left;
    padding: 10px;

    img {
      height: $pic-size;
      width: $pic-size;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__text-data {
    padding-top: 10px;
    padding-right: 20px;
  }

  &__name {
    font-size: 16px;
    margin-bottom: 3px;
    color: rgba(white, 0.9);

  }

  &__message {
    font-size: 14px;
    color: rgba(white, 0.7);

    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  hr {
    height: 1px;
    margin: 15px 15px 0 60px;

    color: gray;
    background-color: gray;
    border: none;
  }

  &:hover {
    background-color: rgba(grey, 0.7);
  }
}

