@import "styles/variables";

.registration-form {
  min-width: 400px;
  min-height: 500px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $roboto sans-serif;

  &__row {
    margin-bottom: 30px;
  }

  &__header {
    text-transform: uppercase;
  }
}