@import "src/styles/variables";

.registration-form {
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $roboto sans-serif;

  &__login {
    position: absolute;
    top: 5px;
    right: 5px;

    i {
      color: $dark;
    }
  }

  &__header {
    flex: 0 1 60px;
    text-transform: uppercase;
  }

  &__fields {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__bottom {
    flex: 0 1 100px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 760px) {
  .registration-form {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }
}