@import "variables";

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {

  height: 100%;
}

.header {
  height: $header-height;
  background-color: rgba(black, 0.8);
}

.footer {
  height: 20px;
  background-color: rgba(black, 0.8);
}

.main-wrapper {
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 50px - 20px);
  align-items: center;
  justify-content: space-around;

  &__column-s {
    flex-basis: 33.33%;
    flex-grow: 0;
    height: 100%;
    background-color: $primary;

    max-width: 33.33%;
    min-width: 240px;

  }

  &__column {
    flex-basis: 66.67%;
    flex-grow: 0;
    height: 100%;
  }
}