@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


$header-height: 50px;
$roboto: 'Roboto', seif;
$primary: #212121;
$secondary: #323232;
$active: #00b5a0;
$dark-active: #01886e;
$lightActive: #14ffec;
$white: #eeeeee;
$smoked: rgba($white, 0.7);
$hovered: #4a4a4a;
$danger: #a50a20;

:export {
  primary: $primary;
  secondary: $secondary;
  active: $active;
  lightActive: $lightActive;
  white: $white;
  smoked: $smoked;
  hovered: $hovered;
}