@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


$header-height: 50px;
$roboto: 'Roboto', seif;
$primary: #212121;
$secondary: #323232;
$active: #0d7377;
$lightActive: #14ffec;
$white: #eeeeee;

:export {
  primary: $primary;
  secondary: $secondary;
  active: $active;
  lightActive: $lightActive;
  white: $white;
}