@import "src/styles/variables";

$pic-size: 40px;
.contact-item {
  display: block;
  clear: both;
  font-family: $roboto;
  cursor: pointer;
  margin-top: 0;
  padding-top: 0;
  height: 60px;

  &__img {
    float: left;
    padding: 10px 15px 10px 15px;

    img {
      height: $pic-size;
      width: $pic-size;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__text-data {
    padding-top: 10px;
  }

  &__name {
    font-size: 16px;
    margin-bottom: 3px;
    color: $white;

  }

  &__tag {
    font-size: 14px;
    color: $smoked;

    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background-color: $secondary;
  }
}

