@import "src/styles/variables";

.modal {

  &__wrapper {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: white;
    border-radius: 10px;
    border-color: white;
    outline: none;

    i {
      font-size: 20px;
    }

  }

  &__header {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;

    font-family: $roboto, sans-serif;
  }

  &__body {
    flex-grow: 3;
    padding: 0 20px 20px;

    word-break: break-all;
    word-wrap: break-word;
    font-family: $roboto, sans-serif;
  }
}

@media only screen and (max-width: 760px) {
  .modal {
    &__wrapper {
      width: 300px;
      height: 200px;
    }
  }
}