@import "src/styles/variables";

.search-bar {
  margin: 0 auto;
  width: 75%;

  i {
    position: relative;
    top: 23px;
    left: 8px;
    color: gray;
    font-size: 14px;
  }



  input {
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    border: 1px solid white;
    border-radius: 15px;
    height: 2em;
    box-shadow: 0 0 5px 3px rgba(black, 0.3);
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }
}

.search-bar-background {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgba($primary, 0.5);
}

@media only screen and (max-width: 426px) {
  .search-bar-background {
    padding-top: 0;
    padding-bottom: 17px;
    background-color: rgba($primary, 0.5);
  }
}