@import "src/styles/variables";

.messages-input {
  height: 40px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  max-width: 100%;

  &__attach-file {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    padding-right: 5px;

    color: white;
    cursor: pointer;
  }

  &__field {
    flex: 1 1 100px;
    display: flex;
    vertical-align: center;

    position: relative;
    border-radius: 5px;
    background-color: white;

    i {
      cursor: pointer;
      color: $primary;
    }
  }

  &__icon-wrapper {
    flex: 0 0 40px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__textbox {
    flex: 1 1 200px;
    overflow: auto;
    resize: none;
    min-height: 20px;
    max-height: 60px;
    line-height: 20px;
    padding: 5px 7px;

    word-break: break-all;
    word-wrap: break-word;
    font-family: $roboto;


    &:focus {
      outline: none;
    }

    &:empty:not(:focus):before{
      content:attr(data-placeholder);
      color: $secondary;
      font-family: $roboto;
      font-size: 14px;
    }
  }

  &__send {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    padding-left: 5px;

    color: white;
    cursor: pointer;
  }
}