@import "src/styles/variables";

.messages-input {
  height: 40px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  max-width: 100%;

  &__attach-file {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    padding-right: 5px;

    color: white;
    cursor: pointer;
  }

  &__field {
    flex: 1 1 100px;
    display: flex;
    vertical-align: center;

    position: relative;
    border-radius: 5px;
    background-color: white;
  }

  &__icon-wrapper {
    flex: 0 0 40px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__textbox {
    flex: 1 1 200px;
    overflow: auto;
    resize: none;
    min-height: 20px;
    max-height: 60px;
    line-height: 20px;
    padding: 5px 7px;

    word-break: break-all;
    word-wrap: break-word;
    font-family: $roboto;


    &:focus {
      outline: none;
    }

    &:empty:not(:focus):before{
      content:attr(data-placeholder);
      color: $secondary;
      font-family: $roboto;
      font-size: 14px;
    }

    &_invalid {
      animation: shake .5s linear;
    }
  }

  &__send {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    padding-left: 5px;

    color: white;
    cursor: pointer;
  }

  &__emoji {
    cursor: pointer;
    color: $primary;
  }

  &__emoji_active {
    color: $active;
  }
}

@keyframes shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 426px) {
  .messages-input {
    height: 60px;
    padding: 10px 0;

    &__icon-wrapper {
      padding: 0 0;
    }
  }
}