@import "styles/variables";

$message-padding: 20px;

.messages-list {
  overflow: auto;
  height: 100%;

  &__wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  ul {
    padding: 0 $message-padding;
    vertical-align: bottom;
  }

  .ScrollbarsCustom-Content {
    display: flex;
    flex-direction: column-reverse;
  }
}

.notification{
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    padding: 10px;
    border-radius: 5px;
    color: white;

    font-family: $roboto sans-serif;
    background-color: $secondary;
  }
}
