@import "src/styles/variables";

.message {
  list-style-type: none;
  display: block;

  font-family: $roboto;

  &__wrapper {
    margin-bottom: 10px;
    background-color: $secondary;
    width: 45%;
    border-radius: 30px;

    overflow: hidden;

    &_unread {
      background: linear-gradient(90deg, rgba(50,50,50,1) 40%, rgba(1,183,162,1) 100%);
    }
  }

  &__content {
    padding: 5px 30px;
  }

  &__text {
    word-break: break-all;
    word-wrap: break-word;
    color: rgba(white, 0.9);
    line-height: 16px;
    font-size: 16px;
  }

  &__time {
    color: rgba(white, 0.7);
    float: right;
    line-height: 14px;
    font-size: 14px;
    padding-top: 6px;
  }

  &__separator {
    clear: both;
  }

  &_incoming {
    float: left;
  }

  &_outgoing {
    float: right;
  }
}